.Header {
  display: table;
  width: 100%;
  background: linear-gradient( rgba(15, 15, 15, 0.1), rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.99) ), url("/images/banner.jpeg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  .HeaderArtist {
    padding: 0 0 2rem 0;
    min-height: 340px;
    height: 25vh;
    max-height: none;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1em;
    padding: 24px 0;
    .HeaderMeta {
      grid-area: span 1;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      h1 {
        margin: 0;
        font-size: 96px;
        font-weight: 700;
        line-height: 104px;
        letter-spacing: -2px;
        font-weight: 800;
      }
    }
  }
}