@mixin LoadingAnimation {
  animation-name: LoadingAnimation;
  animation-duration: 2s;
  animation-duration: infinite;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @keyframes LoadingAnimation {
    0%   {background-color:#0f0f0f;}
    50%  {background-color:#262626;}
    100% {background-color:#0f0f0f;}
  }
}

.SongkickSkeleton {
  .Show {
    height: 6em;
    margin:  1em 0;
    padding: 1em;
    border-radius: 5px;
    @include LoadingAnimation;
  }
}