.Hero {
  display: table;
  width: 100%;
  background: linear-gradient( rgba(15, 15, 15, 0.1), rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.99) ), url("/images/banner.jpeg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  .Artist {
    padding: 0 0 2rem 0;
    min-height: 340px;
    height: 50vh;
    max-height: none;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    gap: 1em;
    padding: 24px 0;
    .Meta {
      grid-area: span 1;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      h1 {
        margin: 0;
        font-size: 96px;
        font-weight: 700;
        line-height: 104px;
        letter-spacing: -2px;
        font-weight: 800;
      }
      .Type {
        height: 30px;
        width: 90px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p {
          margin: 0 0.25em 0 0;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.16em;
          text-transform: uppercase;
        }
        svg {
          stroke-width: 0.8pt;
        }
      }
    }
    .Stats {
      grid-area: span 1;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      p {
        margin: 0.25em 0;
        font-size: 12px;
        letter-spacing: 0.16em;
        text-transform: uppercase;
      }
    }
  }
}