@mixin LoadingAnimation {
  animation-name: LoadingAnimation;
  animation-duration: 2s;
  animation-duration: infinite;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @keyframes LoadingAnimation {
    0%   {background-color:#0f0f0f;}
    50%  {background-color:#262626;}
    100% {background-color:#0f0f0f;}
  }
}

.Header {
  display: table;
  width: 100%;
  background: linear-gradient( rgba(15, 15, 15, 0.1), rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.99) ), url("https://i.scdn.co/image/b2d1f4a96b99bcf276428fcf0383124c740c83ab");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  h1 {
    //   //Mobile: 
    font-size: 48px;
    line-height: 52px;
    // Desktop:
    // font-size: 96px;
    // line-height: 104px;
    letter-spacing: -2px;
    font-weight: 800;
    margin: 0 0 0.2em 0;
    padding: 0;
  }
  .HeaderContent {
    min-height: 170px;
    height: 25vh;
    max-height: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0.5em;
    .HeaderContentMeta {
      grid-area: span 1;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }
  @media (min-width: 540px) {
    .HeaderContent {
      min-height: 170px;
      height: 30vh;
    }
    h1 {
      font-size: 72px;
      line-height: 78px;
      margin: 0 0 0.2em 0;
    }
  }
  @media (max-width: 540px) {
    .HeaderContent {
      min-height: 170px;
      height: 35vh;
    }
    h1 {
      font-size: 48px;
      line-height: 52px;
      margin: 0 0 0.2em 0;
    }
  }
}

.HeaderSkeleton {
  @include LoadingAnimation();
  background: linear-gradient( rgba(15, 15, 15, 0.1), rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.99));
  display: table;
  width: 100%;
  .HeaderSkeletonContent {
    min-height: 170px;
    height: 25vh;
    max-height: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0.5em;
    .HeaderSkeletonContentMeta {
      grid-area: span 1;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      .HeaderSkeletonContentMetaName {
        margin:  0 0 0.5em 0;
        @include LoadingAnimation();
        width: 175px;
        height: 52px;
      }
    }
  }
}