.Header {
  display: table;
  width: 100%;
  background: linear-gradient( rgba(15, 15, 15, 0.1), rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.99) ), url("/images/banner.jpeg");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  h1 {
    //   //Mobile: 
    font-size: 48px;
    line-height: 52px;
    // Desktop:
    // font-size: 96px;
    // line-height: 104px;
    letter-spacing: -2px;
    font-weight: 800;
    margin: 0 0 0.2em 0;
    padding: 0;
  }
  .HeaderContent {
    min-height: 170px;
    height: 25vh;
    max-height: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0.5em;
    .HeaderContentMeta {
      grid-area: span 1;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }
}