.Newsletter {
  .NewsletterContainer {
    background: transparent;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding: 3em 1em;
    gap: 3em;
  }
  h2 {
    text-transform: lowercase;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    label {
      background-color: transparent;
      height: 3em;
      padding: 0 0.75em;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 5px;
      border: 1px solid #333333;
      cursor: text;
      box-shadow: none;
      span {
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        svg{
          width: 15px;
          height: 15px;
        }
      }
      input[type=email] {
        background: transparent;
        color: inherit;
        padding: 0;
        margin: 0 0.75em;
        border: none;
        width: 100%;
      }
    }
    .SubmitButton {
      $offset: 187;
      $duration: 1.4s;
      color: #f1f1f1;
      border: 1px solid #333333;
      border-radius: 5px;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      overflow: hidden;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.75em 0;
      height: 3em;
    }
    .SubmitButton:focus {
      outline: none;
      box-shadow: none;
    }
    .SubmitButtonReady {
      background-color: transparent;
      .SubmitButtonText {
        display: inline;
      }
      .SubmitButtonSpinnerContainer {
        display: none;
      }
      .SubmitButtonCheck {
        display: none;
      }
    }
    .SubmitButtonReady:hover {
      background-color: #007aff;
    }
    .SubmitButtonActive {
      background-color: #007aff;
      .SubmitButtonText {
        display: none;
      }
      .SubmitButtonSpinnerContainer {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        .SubmitButtonSpinner {
          display: inline;
          width: 16px;
          height: 16px;
          clear: both;
          margin: 10px auto;
          border: 2px rgba(#f1f1f1, 0.25) solid;
          border-top: 2px rgba(#f1f1f1, 1) solid;
          border-radius: 50%;
          -webkit-animation: spCircRot .6s infinite linear;
          animation: spCircRot .6s infinite linear;
          @-webkit-keyframes spCircRot {
            from { -webkit-transform: rotate(0deg); }
            to { -webkit-transform: rotate(359deg); }
          }
          @keyframes spCircRot {
            from { transform: rotate(0deg); }
            to { transform: rotate(359deg); }
          }
        }
      }
      .SubmitButtonCheck {
        display: none;
      }
    }
    .SubmitButtonAfter {
      background-color: #34c759;
      .SubmitButtonText {
        display: none;
      }
      .SubmitButtonSpinner {
        display: none;
      }
      .SubmitButtonCheck {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          stroke-width: 2px;
        }
      }
    }
  }
}

.NewsletterContainerMeta {
  grid-area: span 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.NewsletterContainerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: span 1 / span 1;
}