.Newsletter {
  .NewsletterContainer {
    background: transparent;
    border: 1px solid #333333;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding: 1em;
    gap: 0.75em;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    label {
      background-color: transparent;
      padding: 0.75em;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 5px;
      border: 1px solid #333333;
      cursor: text;
      box-shadow: none;
      span {
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        svg{
          width: 15px;
          height: 15px;
        }
      }
      input[type=email] {
        background: transparent;
        color: inherit;
        padding: 0;
        margin: 0 0.75em;
        border: none;
        width: 100%;
      }
    }
    input[type=submit] {
      background-color: transparent;
      color: #f1f1f1;
      border: 1px solid #333333;
      margin: 0.75em 0;
      padding: 0.75em 1em;
      border-radius: 5px;
    }
    input[type=submit]:hover {
      transition:all 0.1s ease;
      color: inherit;
      background-color: #333333;
    }
  }
}

.NewsletterContainerMeta {
  grid-area: span 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.NewsletterContainerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: span 1 / span 1;
}