@mixin LoadingAnimation {
  animation-name: LoadingAnimation;
  animation-duration: 2s;
  animation-duration: infinite;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @keyframes LoadingAnimation {
    0%   {background-color:#0f0f0f;}
    50%  {background-color:#262626;}
    100% {background-color:#0f0f0f;}
  }
}

.ProductDisplay {
  .ProductDisplayContent {
    display: grid;
    gap: 0.5em;
    .ProductDisplayContentImage {
      grid-area: span 1;
      img {
        width: 500px;
        height: 500px;
      }
    }
    .ProductDisplayContentMeta {
      grid-area: span 1;
      h1 {
        margin: 0;
        line-height: 1em;
        margin: 0.25em 0;
      }
      h2 {
        color: #34c759;
        font-weight: 500;
        letter-spacing: 0.16em;
        margin: 0.25em 0;
      }
      .ProductDisplayContentMetaFunctions {
        display: grid;
        gap: 0.5em;
        margin: 0.75em 0;
        .ProductDisplayContentMetaFunctionsProductOptions {
          grid-area: span 1;
          display: grid;
          grid-template-columns: auto 20px;
          grid-auto-rows: auto;
          padding: 0.5em;
          border: 1px solid #333333;
          border-radius: 5px;
          width: 8em;
          .ProductDisplayContentMetaFunctionsAddToCart {
            grid-area: span 1;
          }
          .ProductDisplayContentMetaFunctionsProductOptionsSelect {
            grid-area: span 1;
            display: flex;
            margin: 0 0 0 0.25em;
            justify-content: flex-start;
            align-items: center;
            select{
              margin: 0;
              -webkit-appearance: none;
              -moz-appearance: none;
              -ms-appearance: none;
              appearance: none;
              outline: 0;
              border: none;
              box-shadow: none;
              background: transparent;
              color: #F1F1F1;
              width: 100%;
              height: 100%;
            }
          }
          .ProductDisplayContentMetaFunctionsProductOptionsIcon {
            grid-area: span 1;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              margin-top: 0.1em;
            }
          }
        }
      }
    }
  }
  @media (max-width: 540px) {
    .ProductDisplayContent {
      max-height: 100vh;
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      .ProductDisplayContentMeta {
        background-color: #0f0f0f;
        padding: 0 0.5em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .ProductDisplayContentMetaFunctions {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: auto;
        }
      }
    }
  }
  @media (min-width: 540px) {
    .ProductDisplayContent {
      padding: 0.75em 0.5em;
      max-width: 1080px;
      margin: 0 auto; 
      float: none;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      grid-auto-rows: 1fr;
      .ProductDisplayContentImage {
        grid-area: span 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .ProductDisplayContentMeta {
        .ProductDisplayContentMetaFunctions {
          grid-template-columns: repeat(2, 8em);
          grid-template-rows: auto;
        }
      }
    }
  }
  @media (min-width: 1025px) {
    .ProductDisplayContent {
      .ProductDisplayContentImage {
        grid-area: span 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}

.AddToCart {
  $offset: 187;
  $duration: 1.4s;
  .AddToCartButton {
    color: #f1f1f1;
    border: 1px solid #333333;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8em;
    height: 2.75em;
  }
  .AddToCartButton:focus {
    outline: none;
    box-shadow: none;
  }
  .AddToCartButtonReady {
    background-color: transparent;
    .AddToCartButtonText {
      display: inline;
    }
    .AddToCartButtonSpinnerContainer {
      display: none;
    }
    .AddToCartButtonCheck {
      display: none;
    }
  }
  .AddToCartButtonReady:hover {
    background-color: #007aff;
  }
  .AddToCartButtonActive {
    background-color: #007aff;
    .AddToCartButtonText {
      display: none;
    }
    .AddToCartButtonSpinnerContainer {
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      .AddToCartButtonSpinner {
        display: inline;
        width: 16px;
        height: 16px;
        clear: both;
        margin: 10px auto;
        border: 2px rgba(#f1f1f1, 0.25) solid;
        border-top: 2px rgba(#f1f1f1, 1) solid;
        border-radius: 50%;
        -webkit-animation: spCircRot .6s infinite linear;
        animation: spCircRot .6s infinite linear;
        @-webkit-keyframes spCircRot {
          from { -webkit-transform: rotate(0deg); }
          to { -webkit-transform: rotate(359deg); }
        }
        @keyframes spCircRot {
          from { transform: rotate(0deg); }
          to { transform: rotate(359deg); }
        }
      }
    }
    .AddToCartButtonCheck {
      display: none;
    }
  }
  .AddToCartButtonAfter {
    background-color: #34c759;
    .AddToCartButtonText {
      display: none;
    }
    .AddToCartButtonSpinner {
      display: none;
    }
    .AddToCartButtonCheck {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        stroke-width: 2px;
      }
    }
  }
}

.ProductDisplaySkeleton {
  .ProductDisplaySkeletonContent {
    display: grid;
    gap: 0.5em;
    .ProductDisplaySkeletonContentMeta {
      grid-area: span 1;
    }
    .ProductDisplaySkeletonContentMeta {
      grid-area: span 1;
      .ProductDisplaySkeletonContentMetaFunctions {
        display: grid;
        grid-template-columns: repeat(2, 8em);
        grid-template-rows: auto;
        gap: 0.5em;
        margin: 0.75em 0;
      }
    }
  }
  .ProductDisplaySkeletonContentMetaNameSkeleton {
    width: 50%;
    height: 3em;
    @include LoadingAnimation;
  }
  .ProductDisplaySkeletonContentMetaPriceSkeleton {
    margin: 1em 0;
    width: 25%;
    height: 3em;
    @include LoadingAnimation;
  }
  .ProductDisplaySkeletonContentMetaDescriptionSkeleton {
    margin: 1em 0;
    width: 100%;
    height: 5em;
    @include LoadingAnimation;
  }
  .ProductDisplaySkeletonContentImageSkeleton {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    @include LoadingAnimation;
  }
  .ProductDisplaySkeletonContentMetaFunctionsSkeleton {
    grid-area: span 1;
    border-radius: 5px;
    width: 8em;
    height: 3em;
    @include LoadingAnimation;
  }
  @media (max-width: 540px) {
    .ProductDisplaySkeletonContent {
      max-height: 100vh;
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      .ProductDisplaySkeletonContentMeta {
        background-color: #0f0f0f;
        padding: 0 0.5em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .ProductDisplaySkeletonContentMetaFunctions {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: auto;
        }
      }
    }
    .ProductDisplaySkeletonContentImageSkeleton {
      width: 100%;
      height: 50em;
      @include LoadingAnimation;
    }
  }
  @media (min-width: 540px) {
    .ProductDisplaySkeletonContent {
      padding: 0.75em 0.5em;
      max-width: 1080px;
      margin: 0 auto; 
      float: none;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      grid-auto-rows: 1fr;
      .ProductDisplaySkeletonContentImage {
        grid-area: span 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .ProductDisplaySkeletonContentMeta {
        .ProductDisplaySkeletonContentMetaFunctions {
          grid-template-columns: repeat(2, 8em);
          grid-template-rows: auto;
        }
      }
    }
    .ProductDisplaySkeletonContentImageSkeleton {
      width: 500px;
      height: 500px;
      @include LoadingAnimation;
    }
  }
  @media (min-width: 1025px) {
    .ProductDisplaySkeletonContent {
      .ProductDisplaySkeletonContentImage {
        grid-area: span 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
    .ProductDisplaySkeletonContentImageSkeleton {
      width: 500px;
      height: 500px;
      @include LoadingAnimation;
    }
  }
}