@mixin LoadingAnimation {
  animation-name: LoadingAnimation;
  animation-duration: 2s;
  animation-duration: infinite;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @keyframes LoadingAnimation {
    0%   {background-color:#0f0f0f;}
    50%  {background-color:#262626;}
    100% {background-color:#0f0f0f;}
  }
}

.Releases {
  .ReleasesContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 0.5em;
  }
  
  .ReleasesContentAlbum {
    grid-area: span 1 / span 1;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    img {
      border-radius: 5px;
    }
  }
  
  .ReleasesContentAlbum:nth-child(3n + 1) {
    justify-content: flex-start;
  }
  .ReleasesContentAlbum:nth-child(3n + 2) {
    justify-content: center;
  }
  .ReleasesContentAlbum:nth-child(3n + 3) {
    justify-content: flex-end;
  }
}

.ReleasesSkeleton {
  .ReleasesSkeletonContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 0.5em;
    .ReleasesSkeletonContentAlbum {
      border-radius: 5px;
      @include LoadingAnimation();
    }
    .ReleasesSkeletonContentAlbum::before {
      content: "";
      padding-bottom: 100%;
      display: inline-block;
      vertical-align: top;
    }
  }
}