.Cart {
  // background-color: aqua;
  .Item {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px;
    gap: 1em 1em;
    grid-template-areas:
      "ItemImage ItemMeta";
    .ItemImage { 
      grid-area: ItemImage;
      img {
        width: 100px;
        height: 100px;
      }
    }
    .ItemMeta {
      grid-area: ItemMeta;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1em 1em;
      grid-template-areas:
        "ItemName ItemPrice"
        "ItemDescription ItemFunctions";
      .ItemName { grid-area: ItemName; }
      .ItemDescription { 
        grid-area: ItemDescription;
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        p {
          margin: 0;
        }
      }
      .ItemPrice { 
        grid-area: ItemPrice;
        text-align: right;
      }
      .ItemFunctions { 
        grid-area: ItemFunctions;
        display: inline-flex;
        flex-grow: none;
        flex-shrink: none;
        justify-content: flex-end;
        align-items: center;
        p {
          padding: 0 1em;
          margin: 0;
        }
        button {
          padding: 0.5em;
          border: none;
          border-radius: 4px;
          background-color: none;
        }
      }
    }
  }
  .CartOverview {
    padding-top: 2em;
    text-align: right;
    button {
      font-size: large;
      border: none;
      border-radius: 4px;
      background-color: #e4e4e4;
      padding: 0.5em 1em;
    }
  }
}