.ShopItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: 300px;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  .ShopItem {
    grid-area: span 1 / span 1;
  }
}

.ItemMeta {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: transparent;
  h3 {
    margin: 0;
    padding: 0;
  }
  a {
    color: inherit;
  }
}

.ItemMeta:hover {
  transition:all 0.1s ease;
  color: white;
  background: rgba(13, 13, 13, 0.75);
}