@mixin LoadingAnimation {
  animation-name: LoadingAnimation;
  animation-duration: 2s;
  animation-duration: infinite;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @keyframes LoadingAnimation {
    0%   {background-color:#0f0f0f;}
    50%  {background-color:#262626;}
    100% {background-color:#0f0f0f;}
  }
}

.ReleasesSkeleton {
  margin: 1em 0;
  .ReleasesGridSkeleton {
    display: grid;
    grid-auto-rows: 300px;
    gap: 1em;
    .ReleaseContainerSkeleton {
      grid-area: span 1 / span 1;
      width: 100%;
      height: 100%;
      display: flex;
      .ReleaseSkeleton {
        width: 300px;
        height: 300px;
        border-radius: 5px;
        @include LoadingAnimation();
      }
    }
  }
  @media (min-width: 965px) {
    .ReleasesGridSkeleton {
      grid-template-columns: repeat(3, minmax(300px, 1fr));
      .ReleaseContainerSkeleton:nth-child(3n + 1) {
        justify-content: flex-start;
      }
      .ReleaseContainerSkeleton:nth-child(3n + 2) {
        justify-content: center;
      }
      .ReleaseContainerSkeleton:nth-child(3n + 3) {
        justify-content: flex-end;
      }
    }
  }
  @media (max-width: 965px) {
    .ReleasesGridSkeleton {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      .ReleaseContainerSkeleton:nth-child(n) {
        justify-content: center;
      }
    }
  }
  @media (max-width: 650px) {
    .ReleasesGridSkeleton {
      grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
  }
}
